/* ---------------
 blogs card design
--------------- */

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.blog-card {
    margin: 2%;
    border: 1px solid #EEEEEE;
    border-radius: 15px;
}

.card-image img {
    width: 100%;
}

.card-info {
    width: 90%;
    padding: 5%;
}

.card-info>.box {
    border: 2px solid black;
    max-width: 100px;
    text-align: center;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1em;
}

.card-info>h3 {
    font-size: 1.2em;
    margin: 15px 0;
}

.card-info>.fontawesome {
    color: gray;
}

.fontawesome>span {
    padding-right: 1.5em;
    font-size: 1.1em;
}

@media screen and (max-width: 576px) {
    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }
}