/***************
      fonts
 **************/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* -------------------------
 common style or utilities
--------------------------*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.content {
    display: flex;
    margin: 50px auto;
    max-width: 1280px;
}

.half-width {
    width: 50%;
}

/*-------------------
  top banner design
 ------------------*/
#top-banner {
    display: flex;
    background-color: black;
    margin: 50px auto;
    justify-content: center;
    border-radius: 35px;
}

.top-banner-text {
    padding-left: 120px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-banner-title {
    color: whitesmoke;
    font-size: 3.5em;
}

.top-banner-description {
    font-size: 0.9em;
    color: whitesmoke;
    margin: 25px 0;
}

.top-banner-button {
    color: white;
    padding: 15px;
    max-width: 150px;
    background-color: red;
    border-radius: 5px;
    text-align: center;
    font-size: 1.1em;
}

.fa-arrow-right-to-bracket {
    transition-duration: 0.75s;
    transition-property: transform;
}

.top-banner-button:hover {
    font-weight: 700;
}

.top-banner-button:hover .fa-arrow-right-to-bracket {
    transform: rotate(360deg);
}

.top-banner-cover {
    padding: 25px 50px 0 0;
}

.banner-cover-image {
    width: 100%;
}

/* ----------------------
  navigation bar design
---------------------- */
.navigation {
    background-color: black;
    min-width: 280px;
    border-radius: 10px;
    margin-top: 0.5em;
    margin-right: 0.5em;
    max-height: 14em;
}

.navigation>nav {
    margin: 20px;
}

.nav-btn {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-decoration: none;
    background-color: white;
    max-width: 400px;
    margin: 1em;
    font-size: 1.1em;
    font-weight: 700;
    padding: 5%;
    text-align: center;
    border-radius: 0.3em;
    color: black;
}

.highlighted {
    color: whitesmoke;
    background-color: red;
}

/* --------------
  footer design
-------------- */

footer {
    padding: 150px 0 100px;
    background-color: black;
}

footer div {
    max-width: 1280px;
    margin: 0 auto;
}

footer h1 {
    color: #DDDDDD;
    text-align: center;
}

footer .links {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

hr {
    border: none;
    height: 1px;
    color: gray;
    background-color: gray;
    margin: 35px 0;
}

.links a {
    text-decoration: none;
    color: gray;
}